<div class="" data-global-widget-path="generated_global_groups/30756418478.html"><div class="row-fluid-wrapper row-depth-1 row-number-1 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell full-width-footer-section" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-2 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell page-center" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-3 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell footer-content" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-4 ">
<div class="row-fluid ">
<div class="span3 widget-span widget-type-post_listing footer-object" style="" data-widget-type="post_listing" data-x="0" data-w="3">
<div class="cell-wrapper layout-widget-wrapper">
{% post_listing "module_146713483387810" list_title='Recent Posts', listing_type='recent', select_blog='3299658734', cell=False, cells='[]', root=False, row=False, wrapping_html='', max_links='5', overrideable=False, label='Post Listing' %}</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span3 widget-span widget-type-post_filter topic-cloud" style="" data-widget-type="post_filter" data-x="3" data-w="3">
<div class="cell-wrapper layout-widget-wrapper">
{% post_filter "module_146713483387811" list_title='Topic Cloud', expand_link_text='See All', select_blog='3299658734', cell=False, cells='[]', filter_type='topic', root=False, order_by='post_count', row=False, wrapping_html='', max_links='15', overrideable=False, label='Post Filter' %}</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span3 widget-span widget-type-post_listing footer-object" style="" data-widget-type="post_listing" data-x="6" data-w="3">
<div class="cell-wrapper layout-widget-wrapper">
{% post_listing "module_146713483387812" list_title='Popular Posts', listing_type='popular', select_blog='3299658734', cell=False, cells='[]', root=False, row=False, wrapping_html='', max_links='5', overrideable=False, label='Post Listing' %}</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
<div class="span3 widget-span widget-type-rich_text " style="" data-widget-type="rich_text" data-x="9" data-w="3">
<div class="cell-wrapper layout-widget-wrapper">
{% widget_block rich_text "module_146713483387813" cell=False, cells='[]', root=False, row=False, overrideable=False, label='Rich Text' %}
{% widget_attribute "html" %}<h3>CTA Area</h3>
<div style="text-align: left;">{{cta('e8bcbc02-80ce-41db-9a03-9b5e8b156a0c')}}</div>{% end_widget_attribute %}
      {% end_widget_block %}
</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-5 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-cell page-center" style="" data-widget-type="cell" data-x="0" data-w="12">

<div class="row-fluid-wrapper row-depth-1 row-number-6 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-raw_jinja " style="" data-widget-type="raw_jinja" data-x="0" data-w="12">
{% set one_left = contents.total_count + 1 %}
{% set two_left = contents.total_count + 2 %}

{% if one_left is divisibleby 3 %}
<style type="text/css">

@media only screen and (max-width: 767px) {
  .blog-pagination {
    margin-top: -600px!important;
  }
}
</style>
{% endif %}

{% if two_left is divisibleby 3 %}
<style type="text/css">

.blog-pagination {
  margin-top: -450px!important;
}
@media only screen and (max-width: 767px) {
  .blog-pagination {
    margin-top: -1200px!important;
  }
}
</style>
{% endif %}</div><!--end widget-span -->

</div><!--end row-->
</div><!--end row-wrapper -->

<div class="row-fluid-wrapper row-depth-1 row-number-7 ">
<div class="row-fluid ">
<div class="span12 widget-span widget-type-page_footer copyright-section" style="" data-widget-type="page_footer" data-x="0" data-w="12">
<div class="cell-wrapper layout-widget-wrapper">
{% page_footer "module_146713483387816" footer='', cell=False, cells='[]', root=False, row=False, wrapping_html='', overrideable=False, label='Page Footer' %}</div><!--end layout-widget-wrapper -->
</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->

</div><!--end widget-span -->
</div><!--end row-->
</div><!--end row-wrapper -->
</div>