{% extends 'DESIGN_DEFAULT_THEME/knowledge/base.html' %}

{% block 'main_body' %}
<div class="content-container-outer">
  <div class="content-container">
    {% include 'DESIGN_DEFAULT_THEME/knowledge/components/_breadcrumbs.html' %}
    <div class="main-body">
      <div class="kb-sidebar">
        {% include 'DESIGN_DEFAULT_THEME/knowledge/components/_category_menu.html' %}
      </div>
      <div class="kb-content">
      {% include 'DESIGN_DEFAULT_THEME/knowledge/components/_support-form.html' %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
